body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1527px;
}
#u6 {
  position:absolute;
  left:167px;
  top:73px;
  width:375px;
  height:1527px;
}
#u7 {
  position:absolute;
  left:2px;
  top:756px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:63px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:63px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4E4E4E;
}
#u10 {
  position:absolute;
  left:28px;
  top:17px;
  width:111px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4E4E4E;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#4E4E4E;
}
#u12 {
  position:absolute;
  left:1217px;
  top:8px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#4E4E4E;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E4E4E;
}
#u14 {
  position:absolute;
  left:1209px;
  top:36px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E4E4E;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:741px;
  top:110px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u18 {
  position:absolute;
  left:741px;
  top:131px;
  width:600px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:270px;
}
#u20p000 {
  position:absolute;
  left:-19px;
  top:243px;
  width:54px;
  height:2px;
  -webkit-transform:rotate(72deg);
  -moz-transform:rotate(72deg);
  -ms-transform:rotate(72deg);
  transform:rotate(72deg);
}
#u20p000_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:55px;
  height:3px;
}
#u20p001 {
  position:absolute;
  left:15px;
  top:268px;
  width:458px;
  height:2px;
}
#u20p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:3px;
}
#u20p002 {
  position:absolute;
  left:337px;
  top:134px;
  width:271px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u20p002_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:272px;
  height:2px;
}
#u20p003 {
  position:absolute;
  left:472px;
  top:-1px;
  width:34px;
  height:2px;
}
#u20p003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:3px;
}
#u20p004 {
  position:absolute;
  left:-11px;
  top:211px;
  width:22px;
  height:22px;
}
#u20p004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u20p005 {
  position:absolute;
  left:490px;
  top:-11px;
  width:22px;
  height:22px;
}
#u20p005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u20.compound {
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:244px;
  top:526px;
  width:505px;
  height:269px;
}
#u21 {
  position:absolute;
  left:2px;
  top:126px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E4E4E;
}
#u22 {
  position:absolute;
  left:759px;
  top:510px;
  width:470px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4E4E4E;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:100px;
}
#u24 {
  position:absolute;
  left:730px;
  top:616px;
  width:315px;
  height:100px;
  font-size:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#65A2F3;
}
#u26 {
  position:absolute;
  left:843px;
  top:584px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#65A2F3;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#65A2F3;
}
#u28 {
  position:absolute;
  left:1144px;
  top:583px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#65A2F3;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
}
#u30 {
  position:absolute;
  left:1056px;
  top:616px;
  width:323px;
  height:60px;
  font-size:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
